/*Основной цвет #212121 */
/*вторичный цвет #757575*/
/*белый #FFFFFF*/
/*черный #000000*/
/*акцент #2196F3*/
/*цвет фона #FFFFFF*/
/*цвет фона 2 #2F303A*/
/*цвет фона 3 #E5E5E5*/
/*цвет фона 4 #F5F4FA*/

:root {
	--primary-color: #212121;
	--secondary-color: #757575;
	--bcg-color-one: #ffffff;
	--bcg-color-two: #2f303a;
	--bcg-color-three: #e5e5e5;
	--bcg-color-four: #f5f4fa;
	--accent-color: #2196f3;
	--btn-secondary-accent-color: #188ce8;
	--logo-black: #000000;
	--address-link-color: rgba(255, 255, 255, 0.6);
}
body {
	font-family: "Roboto", "sans-serif";
	background-color: var(--bcg-color-one);
}
a {
	text-decoration: none;
}
ul {
	list-style-type: none;
}
.logo-one {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--accent-color);
}
.logo-two {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--logo-black);
}
.site-nav a {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--primary-color);
}
.site-nav a:hover,
.site-nav a:focus {
	color: var(--accent-color);
}
.site-nav .curent {
	color: var(--accent-color);
}

.contacts a {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--secondary-color);
}
.contacts a:hover,
.contacts a:focus {
	font-style: normal;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.02em;
	color: var(--accent-color);
}
.studio-hero-title {
	font-style: normal;
	font-weight: 900;
	font-size: 44px;
	line-height: 1.36;
	text-align: center;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	color: var(--bcg-color-one);
	background-color: var(--bcg-color-two);
}
.studio-hero-btn {
	font-family: inherit;
	font-style: normal;
	font-weight: 700;
	font-size: 16px;
	line-height: 1.875;
	color: var(--bcg-color-one);
	background-color: var(--accent-color);
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	cursor: pointer;
}
.studio-hero-btn:hover,
.studio-hero-btn:focus {
	font-family: inherit;
	background-color: var(--btn-secondary-accent-color);
}
.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	white-space: nowrap;
	clip-path: inset(100%);
	clip: rect(0, 0, 0, 0);
	overflow: hidden;
}
.features-title-second {
	font-style: normal;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.14;
	letter-spacing: 0.03em;
	text-transform: uppercase;
	color: var(--primary-color);
}
.features-text {
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}
.what-do-we-do-title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--primary-color);
}
.team {
	background-color: var(--bcg-color-four);
}
.team-title {
	font-style: normal;
	font-weight: 700;
	font-size: 36px;
	line-height: 1.17;
	letter-spacing: 0.03em;
	color: var(--primary-color);
}
.team-person,
.team-role {
	background-color: var(--bcg-color-one);
}
.team-person {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-color);
}
.team-role {
	font-size: 16px;
	line-height: 1.19;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}
footer {
	background-color: var(--bcg-color-two);
}
.logo-second {
	font-family: "Raleway";
	font-style: normal;
	font-weight: 700;
	font-size: 26px;
	line-height: 1.19;
	letter-spacing: 0.03em;
	color: var(--bcg-color-one);
}
.physical-address {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--bcg-color-one);
}
address a {
	font-style: normal;
	font-weight: 400;
	font-size: 14px;
	line-height: 1.71;
	letter-spacing: 0.03em;
	color: var(--address-link-color);
}
address a:hover,
address a:focus {
	color: var(--accent-color);
}
.portfolio-btn {
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-color);
	background-color: var(--bcg-color-four);
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
}
.portfolio-btn:hover,
.portfolio-btn:focus {
	font-family: inherit;
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--bcg-color-one);
	background-color: var(--accent-color);
	cursor: pointer;
	box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
		0px 2px 2px rgba(0, 0, 0, 0.12);
	border-radius: 4px;
}
.portfolio-btn {
	font-style: normal;
	font-weight: 500;
	font-size: 16px;
	line-height: 1.625;
	text-align: center;
	letter-spacing: 0.03em;
	color: var(--primary-color);
}
.portfolio-hero-title {
	font-style: normal;
	font-weight: 700;
	font-size: 18px;
	line-height: 2;
	letter-spacing: 0.06em;
	color: var(--primary-color);
}
.portfolio-hero-text {
	font-size: 16px;
	line-height: 1.875;
	letter-spacing: 0.03em;
	color: var(--secondary-color);
}
